
<div class="modal-window-wrapp p-4 py-md-5" id="deleteProfit">
        
    <div class="modal-window rounded-4 shadow p-3 popUp">
        <div class="text-center pb-3">
            <p class="text-color fw-bold h5">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
        </div>
        <div class="modal-footer gap-2 border-top-0 justify-content-center">
            <a  class="btn btn-lg btn-success" id="confirm-button">Да, удалить</a>
            <a href="/profit" class="btn btn-lg btn-danger" id="canceled-button">Не удалять</a>
        </div>
    </div>

</div>

<section class="px-4 d-flex flex-column">
    <div class="ms-2 ms-xl-5 mb-2 mb-xl-5 mt-xl-5 pt-xl-5 pt-3 text-center text-xl-start">
        <h1 class="text-color">Доходы</h1>
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 ms-xl-5 g-3" id="records">
        
    </div>
</section>